#not-found-content {
    width: 100%;
    text-align: center;
}

#not-found-content h1 {
    font-size: 150px;
}

@media (max-width: 767px) {
    #not-found-content h1 {
        font-size: 100px;
    }
}