html, body {
    background: none;
}

@media (min-width: 701px) {
    html, body {
    }
}

.api-logo {
    display: block;
    margin: 0 auto;
    opacity: 0.8;
}

#index-content {
    padding-top: 100px;
    width: 100%;
}