body {
    font-family: 'Exo 2','Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 13pt !important;
    color: #ffffff !important;
    background-color: #181a1e !important;
    text-transform: uppercase;
}
#app-logo {
    width: 100%;
    height: 100px;
    background-color: #282c31;
    border-bottom: 2px solid #42b9c1;
    box-shadow: black 0px 0px 8px;
}

#app-logo > img {
    max-height: 115px;
    max-width: 100%;
    padding-top: 10px;
    display: block;
    margin: 0 auto;
}

#app-logo > span {
    font-size: 40px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.app-box {
    width: 100%;
    min-height: 100px;
    background-color: #282c31;
    box-shadow: black 0px 0px 8px;
}

@media (max-width: 767px) {
    .app-box {
        margin-bottom: 110px;
    }
}

.container {
    padding: 15px;
}

.asset-icon img {
    width: 32px;
}

.space {
    height: 15px;
    width:100%;
    display:block;
    position:relative;
}

.form-control {
    background: none !important;
    color: #ffffff !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    height: 40px !important;
}

.personalized-input {
    border: 2px solid #ffffff !important;
    margin: auto;
    max-width: 600px;
}

.has-error {
    border: 2px solid #ee0000 !important;
}

.help-block {
    text-transform: none;
    font-size: 10pt !important;
    color: #ee0000 !important;
}

.btn-full {
    min-width: 50%;
    background-color: #42b9c1 !important;
    color: #ffffff !important;
    border: none !important;
    text-transform: uppercase;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-width:100%;
    width:100%;
    height: auto !important;
    min-height: 100%;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 0 -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #282c31;
    box-shadow: black 0px 0px 8px;
    text-align: center;
}

#footer img {
    max-height: 15px;
}
